<div class="home-main flex-column" [ngClass]="isTutor? '':'main-bg'">
  <mat-toolbar class="justify-content-center tb">
    <img src="assets/registration/vidhya-sandhhan.svg" class="vidhya-sadhan">
  </mat-toolbar>
  <div class="equal-container login-side">
    <div class="equal-col">
      <div>
        <div class="card rounded">
          <div class="card-body" class="log-form-mr bg-white">
            <div class="card-header text-center bg-transparent border-0">
              <h2 class="m-2">Reset Password</h2>
              <img class="h-vs" src="assets/icons/vidhya-sandhhan.svg">
            </div>
            <form [formGroup]="passwordForm" class="m-4" (ngSubmit)="onpasswordSubmit()">
              <div class="form-group loginform">
                <mat-form-field appearance="outline">
                  <mat-label for="password">New Password</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">lock</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
                  <div *ngIf="passwordsubmitted && p.password.errors" class="invalid-feedback">
                    <div *ngIf="p.password.errors.required">Password is required</div>
                    <div *ngIf="p.password.errors.pattern">Password should be 8 characters with 1 Upper case letter and a number</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="form-group loginform">
                <mat-form-field appearance="outline">
                  <mat-label for="confirmPassword">Confirm Password</mat-label>
                  <span matPrefix>
                    <mat-icon color="primary">lock</mat-icon>
                    <mat-divider [vertical]="true"></mat-divider>
                  </span>
                  <input matInput type="password" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': passwordsubmitted && p.password.errors }" />
                  <div *ngIf="passwordsubmitted && p.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="p.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="p.confirmPassword.errors.IsMatch">Passwords are not matching!</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-between text-white">
                <a class="btn btn-secondary" type="submit" [routerLink]="['/login']" role="button">Login?</a>
                <button mat-flat-button class="mat-button-base" color="accent" [disabled]="loadforgot">
                  <span *ngIf="loadforgot" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
                </button>
              </div>
              <div *ngIf="passwordsubmitted && success" class="alert alert-danger mt-3 mb-0">{{success}}</div>
              <div *ngIf="passwordsubmitted && error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

